.NavBar {
    padding: 0;
    height: 4.5rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: space-between;
}

.NavBar .navbar-brand {
    color: rgb(32, 19, 224);
}

.NavBarLinks {
    height: 100%;
}

#nav-list {
    height: 100%;
}

.NavBarLinks {
    display: flex;
    padding: 3px;
    height: 100%;
    align-items: center;
    justify-content: right;
}

.NavBarLinks a:not(.isSmall) {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    width: 7rem;
}

.NavBarLinks {
    margin-top: 5px;
    text-align: right;
}

.NavBarLinks a:not(.active) {
    color: rgb(149, 149, 149);
}

.NavBarLinks .active {
    color: black;
    font-weight: bold;
}

.NavBarLinks .active:not(.isSmall) {
    border-bottom: 5px solid rgb(32, 19, 224);
}

.NavBarLinks a:hover {
    color: black;
    font-weight: bold;
}